@import './reset.scss';
@import './variables.scss';
@import './fonts.scss';

.feedback-bg {
    background-image: url("../img/images/feedback-bg.png");
    background-position: center;
    width: 100%;
    background-size: cover;
  
  }

.feedback {
    margin: 72px 0 60px;
    display: grid;
    grid-auto-columns: auto;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
  

  
  
    &__title {
      font-family: Montserrat;
      font-weight: bold;
      line-height: 1.6;
      color: #FFFFFF;
      text-align: center;
      font-size: 48px;
      max-width: 807px;
      margin: 0 auto;
      margin-top: 108px;
      
      @media (max-width: 480px) {
        font-size: 36px;
        margin-top: 60px;
      }
  
      @media (min-width: 481px) and (max-width: 992px) {
        font-size: 42px;
        margin-top: 86px;
      }
    }
    &__content-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  
      @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }
  
      @media (min-width: 481px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
    }
    &__wrapper {
      text-align: center;
  
    }
    &__image-wrapper {
      margin-top: 88px;
    }
    &__image-wrapper-third {
        margin-top: 90px;
  
      @media (max-width: 480px) {
        
        margin-top: 58px;
      }
    }
    &__description {
      font-family: Lato;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.6;
      color: #FFFFFF;
      margin: 33px auto;
      max-width: 345px;
  
      @media (min-width: 481px) and (max-width: 992px) {
        max-width: 350px;
        text-align: center;
      }
    }
    &__description-third {
      font-family: Lato;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.6;
      margin-top: 22px;
      color: #FFFFFF;
    }
    &__span {
      display: inline-block;
  
      @media (max-width: 992px) {
        display: block;
      }
    }
    &__footer {
      font-family: Lato;
      font-size: 14px;
      color: #A291A5;
      line-height: 1.6;
      text-align: center;
      margin-top: 37px;
    }
    &__hr {
      width: 780px;
      height: 2px;
      background: rgba(100, 87, 102, 1);
    
      margin: 0 auto;
      margin-top: 22px;
  
      @media (min-width: 481px) and (max-width: 992px) {
        width: 555px;
      }
  
      @media (max-width: 480px) {
        width: 245px;
      }
    }
  }



  
  