@import './variables.scss';
@import './reset.scss';

.container {
    padding: 0 10px;
}

.header {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 580px;
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    background: url(../img/images/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__logo-wrapper {
        position: absolute;
        top: 29.5px;
        left: 90px;
        display: flex;
        align-items: center;
        text-decoration: none;

        .logo-text {
            margin: 0 0 8px 17px;
            font-size: $fs-m;
            line-height: 16px;
            text-transform: uppercase;
            color: $main-text-color;
        }

    }
    .buy-button {
        position: absolute;
        width: 145px;
        padding: 10px 20px;
        top: 31px;
        right: 90px;
        font-size: $fs-xs;
        line-height: 17px;
        border-radius: 40px;
        color: $main-second-text-color;
        background-color: $main-text-color;

        &:hover {
            background-color: $main-second-text-color;
            color: $main-text-color;
            border: 1px solid $main-text-color;
        }
    }

    .nav {
        width: 100%;
        padding: 40px 283px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__list {
            width: 527px;
            padding: 3px 10px 3px 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &-link {
                text-decoration: none;
                font-size: $fs-xs;
                color: $main-text-color;

                &:hover {
                    color: $main-second-text-color;
                }
            }
        }

    }

    .download {
      position: absolute;
      left: 600px;
      top: 685px;
      transform: translate(-50%, -32px);
      display: flex;
      flex-direction: column;
      align-items: center;


      &__button {
        width: 390px;
        padding: 20px 0;
        border-radius: 40px;
        background-color: $main-text-color;
        color: $main-second-text-color;
        font-size: $fs-s;
        font-weight: bold;
        border: none;
      }
      &__info {
        margin-top: 19px;
        color: $description-text-color;
 
      }
    }
  }
  
  .header__logo-wrapper:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(232deg) brightness(107%) contrast(101%);
  }