@import './variables.scss';
@import './reset.scss';
@import './fonts.scss';



.header {
    background-image: url("../img/images/header-image.png");
    background-position: center;
    width: 100%;
    background-size: cover;

    @media (min-width: 1200px) {
        margin: 0 auto;
      }
  

    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 90px;

        @media (min-width: 481px) and (max-width: 992px) {
            background-color: rgba(39, 38, 42, 1);
            
        }

        &-main {
            display: flex;
            align-items: center;
            text-decoration: none;

            &-text {
                color: $main-text-color;
                font-size: $fs-m;
                margin-left: 17px;
                text-transform: uppercase;

            }
        }
    }

    &__fork {

        margin-top: 125px;
        text-align: center;

        &-title {

            color: $main-second-text-color;
            font-size: $fs-xxxl;
            font-family: MontserratBold;

            @media (min-width: 481px) and (max-width: 992px) {
                font-size: 72px;
            }
        }

        &-text {
            color: $main-text-color;
            font-size: $fs-l;
            margin-top: 20px;
            font-family: LatoRegular;
            @media (min-width: 481px) and (max-width: 992px) {
                font-size: 24px;
            }
        }

        &-description {
            color: $description-text-color;
            font-size: $fs-xs;
            margin-top: 20px;
            font-family: MontserratRegular;
            @media (min-width: 481px) and (max-width: 992px) {
                font-size: $fs-xxs;
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    

    @media (max-width: 768px) {
        display: block;
    }


    &__list {
        display: flex;

        @media (min-width: 481px) and (max-width: 992px) {
            display: block;
        } 

        &-item {
            margin-right: 50px;
        }

        &-link {
            text-decoration: none;
            color: $main-text-color;
            font-size: $fs-xs;
            font-family: MontserratBold;
        }

        &-link:hover {
            color: $main-second-text-color;
        }
    }
}

.buy-button {
    background-color: $main-text-color;
    color: $main-second-text-color;
    padding: 5px 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    border: none;
    font-family: MontserratBold;
}

.buy-button:hover {
    background-color: $main-second-text-color;
    color: $main-text-color;
}


.download {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 65px;
    margin-top: 450px;

    &__button {
        margin: 0 auto;
        display: block;
        background-color: $main-text-color;
        padding: 20px 60px;
        border-radius: 40px;
        color: $main-second-text-color;
        font-size: $fs-s;
        line-height: 22px;
        font-family: MontserratBold;
        border: 1px solid $main-text-color;
    }

    &__button:hover {
        background-color: $main-second-text-color;
        color: $main-text-color;
        
    }


    &__info {
        text-align: center;
        font-size: $fs-xxs;
        color: $description-text-color;
        margin-top: 20px;
        font-family: MontserratRegular;
    }

}

.header__wrapper-main:hover img {
    content: url(../img/images/Logo-hover.svg)
}

.header__wrapper-main:hover p {
    color: $main-second-text-color;
}


