@import "./fonts.scss";
@import "./variables.scss";
@import "./editor.scss";

.editor-wrapper {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.editor__caption {
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
}

.editor__description {
    width: 861px;
    text-align: center;
    line-height: 32px;
    height: 64px;
}

