// Font-size
$fs-xxxl: 5.1rem; //82px
$fs-xxl: 3.4rem; //54px
$fs-xl: 3rem; //48px
$fs-l: 1.8rem; //30px
$fs-m: 1.5rem; //24px
$fs-s: 1.3rem; //21px
$fs-xs: 1rem; //16px
$fs-xxs: 0.9rem; //14px-15px

// Fonts-color
$main-text-color: rgba(141, 129, 172, 1);
$main-second-text-color: rgba(255, 255, 255, 1);

$description-text-color: rgba(132, 142, 151, 1);
$description-second-text-color: rgba(162, 145, 165, 1);

$caption-text-color: rgba(50, 50, 50, 1);
$caption-second-text-color: rgba(99, 92, 115, 1);


// Background-color
$background-color: rgba(244, 244, 244, 1);